header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  background-color: white;
  height: 60px;
  box-shadow: rgb(230, 230, 230) 2px 2px 4px 0px;
}

header nav {
  height: 100%;
  max-width: 93%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header nav .mobile-menu {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  display: none;
}

header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin-right: 20px;
}

header nav ul li a {
  font-size: 13px;
  font-weight: 600;
  font-family: "Open sans", sans-serif;
}

header nav ul li a:hover {
  color: rgb(55, 117, 246);
}

.logo-container {
  display: flex;
  height: 100%;
  margin: 0;
  align-items: center;
}

.logo-container img {
  width: auto;
  height: 80%;
  margin-right: 10px;
}

.logo-container h2 {
  font-weight: 400;
  color: var(--primary-color);
  font-size: 1.75rem;
}

.logo-container h2 strong {
  font-weight: 800;
}

@media screen and (max-width: 640px) {

  header nav .mobile-menu {
    display: block;
  }

  header nav ul {
    position: fixed;
    color: white;
    width: 50vw;
    min-width: 200px;
    top: 0;
    padding: 1rem 0 1rem 1rem;
    background-color: #222222;
    left: -100%;
    flex-direction: column;
    align-items: flex-start;
    transition: left .2s ease-in-out;
  }

  header nav ul.show {
    left: 0;
  }

  header nav ul li {
    margin-bottom: 1rem;
  }
}
