.hero {
  max-width: 1100px;
  margin: auto;
  display: flex;
  padding: 0 0.5rem 1rem;
}

.hero-section:first-of-type {
  width: 60%;
}

.hero-section {
  width: 40%;
  position: relative;
}

.hero-title {
  font-size: clamp(1.5rem, 3vw, 38px);
  color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
  font-weight: 800;
}

.hero-image {
  position: absolute;
  bottom: 0;
}

.hero-list {
  padding: 0;
  margin: 0 0 20px;
}

.hero-list-item {
  list-style: none;
  margin-top: 5px;
  font-weight: 600;
}

.hero-list-item i {
  margin-right: 5px;
}

.os-list-container {
  display: flex;
  padding-left: 1.5rem;
}

.os-list-container span {
  margin-right: 10px;
}

.os-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.os-list-item {
  list-style: none;
  margin-right: 5px;
}

@media screen and (max-width: 780px) {

  .hero-section {
    width: 100% !important;
  }

  .hero-section:nth-of-type(2) {
    display: none;
  }

  .os-list-container {
    display: none;
  }

}

@media screen and (max-width: 400px) {
  .hero-title {
    white-space: normal;
  }

  .hero-list-item {
    font-size: .8rem;
  }

  
}
