.leaderboard-container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
}

.leaderboard-header {
  display: grid;
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
  color: white;
  grid-template-columns: repeat(12, 1fr);
  height: 40px;
  align-items: center;
}

.leaderboard-header li {
  list-style: none;
}

.leaderboard-header i {
  margin-left: 5px;
  cursor: pointer;
}

.leaderboard-header li:first-of-type {
  grid-column: 1/4;
  text-align: center;
}

.leaderboard-header li:nth-of-type(2) {
  grid-column: 4/8;
}

.leaderboard-header li:nth-of-type(3) {
  grid-column: 8/10;
  text-align: center;
}

.leaderboard-header li:nth-of-type(4) {
  grid-column: 10/13;
  text-align: center;
}

.leaderbord-item-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-decoration: none;
  min-height: 225px;
  border-bottom: 0.5px solid rgb(235, 235, 235);
  border-left: 0.5px solid rgb(235, 235, 235);
  border-right: 0.5px solid rgb(235, 235, 235);
}

.leaderbord-item-container:hover {
  background-color: rgba(168, 232, 255, 0.137);
  border-color: lightblue;
}

.leaderbord-item-container:first-of-type {
  border-bottom: 3px solid var(--primary-color);
  border-left: 3px solid var(--primary-color);
  border-right: 3px solid var(--primary-color);
}

.leaderbord-item-container figure {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderbord-item-container figure img {
  width: 50%;
}

.leaderboard-item-pros {
  grid-column: 4/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leaderboard-item-pros h3 {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: normal;
}

.leaderboard-item-pros p {
  margin: 0.5rem 0 0;
  white-space: nowrap;
}

.leaderboard-pros-list {
  margin: 0;
  padding: 0;
}

.leaderboard-pros-list li {
  list-style: none;
  margin-top: 7px;
  font-size: 14px;
}

.leaderboard-pros-list li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  margin-right: 5px;
}

.leaderboard-score-container {
  grid-column: 8/10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  line-height: normal;
}

.leaderboard-score-container .score {
  font-size: 3.4rem;
  font-family: "Open sans", sans-serif;
  font-weight: 800;
  line-height: normal;
}

.star-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.star-container i {
  font-size: 18px;
  color: rgb(255, 206, 127);
}

.leaderboard-button-container {
  grid-column: 10/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaderboard-button-container button {
  width: 80%;
  background: var(--cta-color);
  border: none;
  color: white;
  padding: 1rem 0;
  border-radius: 0.2rem;
  font-size: 1rem;
  box-shadow: rgb(170, 170, 170) 2px 2px 4px 0px;
  font-weight: 600;
  transition: box-shadow .3s ease-in-out;
}

.leaderboard-button-container button:hover {
  box-shadow: rgb(170, 170, 170) 0px 0px 4px 2px;
}

.leaderboard-button-container span {
  color: #3537f5;
  margin-top: 0.5rem;
  text-decoration: underline;
}

@media screen and (max-width: 780px) {
  .leaderboard-header {
    display: none;
  }

  .leaderbord-item-container:first-of-type {
    border: 0.5px solid rgb(235, 235, 235);
  }

  .leaderbord-item-container {
    grid-template-areas:
      "image   score"
      "text   text"
      "button button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 80px .5fr;
    padding: 2rem 0;
  }

  .leaderboard-score-container {
    grid-area: score;
    grid-column: auto;
    justify-self: center;
    padding-top: 0;
  }

  .leaderbord-item-container figure {
    grid-area: image;
    justify-self: center;
  }

  .leaderbord-item-container figure img {
      width: 150px;
  }

  .leaderbord-item-container .leaderboard-button-container {
    grid-area: button;
  }

  .leaderboard-button-container button {
      width: 300px;
      margin-top: 1rem;
  }

  .leaderboard-button-container span {
      display: none;
  }

  .leaderbord-item-container .leaderboard-item-pros {
    grid-area: text;
    text-align: center;
  }

  .leaderbord-item-container .leaderboard-item-pros h3 {
      margin: 1rem;
  }

  .leaderboard-pros-list {
    display: none;
  }
}
